# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/

# Reports
reports/*

# Uploads
uploads/*

# macOS
.DS_Store

# Logs
*.log